<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/chatbox.css">
    <title>ChatBox</title>
</head>
<body>
    <div class="awrapper">
        <div class="atitle">ChatBox</div>
        <div class="abox">
            <div class="aitem">
                <div class="aicon">
                    <i class="fa fa-user"></i>

                </div>
                <div class="amsg">
                    <h3>Afsara Waziha</h3>
                    <p>How many windows does the room have?</p>
                </div>
            </div>
            <br clear="both">
            <div class="aitem right">
                <div class="amsg">
                    <h3>Mithila </h3>
                    <p>Two windows</p>
                </div>

            </div>
        </div>

        <div class="atyping-area">
            <div class="ainput-field">
                <input type="text" placeholder="Type your message" required>
                <button>Send</button>

            </div>

        </div>

    </div>
</body>
</html>